.tabulator-cell .choices {
    width: 100%;
    min-width: 100%;
    z-index: 9999; /* 確保在其他浮層之上 */
}
.choices__list--dropdown {
    max-height: 300px;
    overflow-y: auto;
}

.choices__list--dropdown {
    background-color: #fffbe6 !important;
}

.edited-highlight {
    background-color: #fff1d6 !important;
}